*
{
	margin: 0px;
	padding: 0px;
	transition: all .25s ease;
}
html
{
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
body
{
	background-image: url('image1.jpg');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

a
{
	transition: .25s all;
	text-decoration: none;
}

a, 
a:active,
a:visited
{
	color:white;
}
a:hover
{
	color:rgba(90,90,90,1);
}

.text-custom
{
	
	font-family: 'ADAM';
	font-style: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}

@font-face {
	font-family: 'ADAM';
	font-style: normal;
	font-weight: normal;
	src:url("Adamfont.otf") format("opentype");
}

li {
	margin:10px;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	cursor: pointer;
	color: rgba(255,255,255,.85);
	transition: .15s all;
}

li:hover
{
	color: rgba(255,255,255,1);
}

tr {
	vertical-align: top;
}
.header
{
	height:auto;
	background-color: rgba(0,0,0,.9);
	color: rgba(255,255,255,1);
	line-height: 2.5em;
	padding: 1.5em;
	font-family: 'ADAM';
	font-style: bold;
	font-size: 15px;
	position: fixed;
	text-align: center;
	letter-spacing: 4px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 1;
	width:100%;

}
.hide
{
	display: none;
	transition: all .25s ease;
}

.page-wrap
{
	z-index: 2000;
	text-align: center;
	padding: 1em;
	top: 20%;
	position: absolute;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	bottom: 0;
}

.post 
{
	width: 50%;
	margin-left: 25%;
	line-height: 1.5em;
}

.arrow
{
	opacity: .75;
	top: 25%;
	position: fixed;
	cursor: pointer;
	transition: .25s all;
}

.arrow:hover
{
	opacity: 1;
	color:rgba(90,90,90,1);
}

.left
{
	left: 0;
}

.right
{
	right: 0;
}

#name
{
	
}