*
{
	margin: 0px;
	padding: 0px;
}
html
{
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
body
{
        background-image: url('image1.jpg');
        background-repeat:no-repeat;
        background-size:cover;
}
.text-custom
{
	background-color: rgba(90,90,90,1);
	font-family: 'ADAM';
	font-style: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}

@font-face {
	font-family: 'ADAM';
	font-style: normal;
	font-weight: normal;
	src:url("Adamfont.otf") format("opentype");
}

li {
	margin:10px;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	cursor: pointer;
	color: rgba(255,255,255,.85);
	transition: .15s all;
}

li:hover
{
	color: rgba(255,255,255,1);
}

tr {
	vertical-align: top;
}
.header
{
	height:auto;
	background-color: rgb(0,0,0);
	line-height: 2.5em;
}
#navbar
{
	padding: 2em;
	padding-bottom: 2em;
	font-family: 'ADAM';
	font-style: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
	position: fixed;
	text-align: center;
	letter-spacing: 4px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 1;
	width:100%;
}

.show 
{
	padding-left: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

.hide
{
	display: none;	
}

.page-wrap
{

	padding: 1em;
	top: 20%;
	position: absolute;
	width:99%;
	overflow-y: scroll;
	overflow-x: hidden;
	bottom: 0;
}


.post 
{
	width:500px;
}
